* {
    margin: 0;
    padding: 0;
}

#banner {
    width: 100%;
    height: 180px;
}

#header {
    display: flex;
    margin-bottom: 20px;
    background-image: linear-gradient(#b2b2b6, #66617e, #b2b2b6);
    color: white;
    padding: 3px 9px;
}

#header h1 {
    flex: 7;
}

#links {
    text-align: right;
    padding-top: 10px;
}

#links a {
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
}

#content {
    display: flex;
}

#l_sidebar {
    flex: 2;
    background-image: radial-gradient(#d8ceff, #372588);
    padding: 7px;
    margin-right: 7px;
}

#l_sidebar h3 {
    background-image: linear-gradient(#b2b2b6, #66617e, #b2b2b6);
    color: white;
    padding: 6px;
    margin-bottom: 12px;
    border-radius: 9px 9px 0px 0px;
}

#menu,
#contact_us {
    background-color: white;
    border-radius: 9px;
    border: 2px solid black;
    box-shadow: 3px 3px 5px rgb(51, 47, 47);
    margin-right: 5px;
}

#menu {
    margin-top: 25px;
}

#menu a {
    display: block;
    margin: 0px 9px 9px 9px;
    padding: 6px;
    border-radius: 3px;
}

#active {
    background-color: #5440af;
    color: white;
}

#contact_us {
    margin-top: 306px;
}

#contact_us p {
    margin-bottom: 9px;
    padding: 0px 3px;
}

#break {
    border-top: 3px dotted #372588;
    margin: 4px 0px 10px 0px;
}

#badges {
    text-align: center;
}

#iso_badge {
    height: 150px;
    margin-top: 45px;
    margin-right: 10px;
}

#wbenc_badge {
    width: 207px;
    margin-top: 45px;
}

#main {
    flex: 10;
    background-image: radial-gradient(#d8ceff, #372588);
}

#stock_photos {
    display: flex;
    width: 100%;
    border: 3px solid #372588;
}

#stock_photos img {
    width: 20%;
    height: 187px;
}

#main_content {
    display: flex;
}

#about_us {
    background-color: #F7F7F7;
    margin: 21px 5px 10px 7px;
    padding: 5px;
    border-radius: 3px;
}

#about_us h2,
#about_us p  {
    margin-bottom: 9px;
    color: #372588;

}

#r_sidebar {
    text-align: center;
    margin: 5px;
}

.r_bar_link {
    text-align: center;
    margin: 27px 5px;
    background-color:  #372588;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgb(51, 47, 47);
    border: 1px solid white;
}

.r_bar_link img {
    width: 200px;
    display: block;

}

.r_bar_link a {
    text-decoration: none;
    color: white;
}

#r_bar_link_new {
    width: 200px;
}







