* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

#wrapper {
    width: 900px;
    margin: 100px auto;
    border: 3px solid rgb(23, 73, 211);
    padding: 10px;
    background-color: #F7F7F7;
}

#header {
    display: flex;
    margin-bottom: 20px;
}

#header h1 {
    flex: 5;
}

#links {
    flex: 2;
    padding-top: 10px;
}

#errors {
    color: red;
    text-align: center;
}

#row_1 {
    display: flex;
}

#add_product {
    margin-right: 10px;
}

#product_name_input {
    margin-left: 75px;
}

#part_number_input {
    margin-left: 31px;
}

#price_input {
    margin-left: 80px;
}

#description {
    display: flex;
}

#desc_input {
    margin-left: 90px;
}

#add_category h2 {
    margin-bottom: 9px;
}

#add_product p,
#add_category p {
    margin-bottom: 5px;
}