#product_info {
    margin-bottom: 15px;
}

#product_info h2,
#add_photo h2 {
    margin-bottom: 9px;
}

#prod_cats,
#prod_desc,
#photo_display {
    display: flex;
}

#p_cats,
#p_desc {
    margin-left: 9px;
}

#photo_display {
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.prod_photo_pod {
    margin: 5px;
}

.prod_photo_pod img {
    width: 100px;
}

.photo_actions,
#add_photo {
    text-align: center;
}

#add_photo p {
    margin-bottom: 5px;
}
