<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/admin_main.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_view_quote.css' %}">
</head>

<body>
    <div id="wrapper">
        <div id="header">
            <h1>Welcome, {{ logged_user.first_name }}</h1>
            <div id="links">
                <a href="/">Back to Store</a>  |  
                <a href="/signon/logout">Logout</a>
            </div>      <!--end links-->            
        </div>      <!--end header-->
        <div id="content">

            <a id="go_back" href="/user_account">Go Back</a>
            <div id="quote_head">
                <h3>Order Reference Number: {{ order.ref_number }} </h3>
                <h3 id="total">Total: ${{ order.total_price }}</h3>
            </div>      <!--end quote_head-->
            <div id="order_info">
                <p>Date Placed: {{order.placed_at }}</p>
                <p>Placed By: {{ order.orderd_by.last_name }}, {{ order.orderd_by.first_name }}</p>
                <p>Email: {{ order.orderd_by.email }} || Phone: {{ order.contact_info.phone }}</p>
                <p>Address: {{ order.contact_info.address_1 }}</p>
                <p id="line2">{{ order.contact_info.address_2 }}</p>
                <p id="line3">{{ order.contact_info.city }}, {{ order.contact_info.state }}</p>
                <p id="line4">{{ order.contact_info.zip_code }}</p>
                <p id="line5">{{ order.contact_info.country }}</p>
            </div>      <!--end order_info-->
            <table>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Combined Price</th>
                    <!-- <th>#</th> -->
                    {% if order.status == "in process" %}
                    <th>Actions</th>
                    {% endif %}
                </tr>
                {% for product in products %}
                <tr>
                    <td>{{ product.product_on_order.name }}</td>
                    <td>${{ product.product_on_order.price }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.combined_price }}</td>
                    <!-- <td>#</td> -->
                </tr>
                {% endfor %}        <!--#end for product in products-->
                {% for item in items %}
                <tr>
                    <td>{{ item.item_on_order.name }}</td>
                    <td>${{ item.item_on_order.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.combined_price }}</td>      <!-- <td>#</td> -->
                    <!-- <td>#</td> -->
                </tr>
                {% endfor %}        <!--#end for item in items#-->
            </table>
            <div id="special_instructions">
                <h4>Special Instructions: </h4>
                <p>{{ quote.special_instructions }}</p>
            </div>      <!--end special_instructions-->
            <!-- # status choices = {open, pending, in process, completed, archived } -->



                
        </div>      <!--end content-->
    </div>      <!--end wrapper-->
</body>

</html>