<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edit Users:Admin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/admin_main.css' %}">
    <link rel="stylesheet" href="{% static 'css/edit_user.css' %}">
</head>

<body>
    <div id="wrapper">
        <div id="header">
            <h1>Welcome, {{ logged_user.first_name }}</h1>
            <div id="links">
                <a href="/admin_access">Admin Home</a>  |  
                <a href="/">Back to Store</a>  |  
                <a href="/signon/logout">Logout</a>
            </div>      <!--end links-->
        </div>      <!--end header-->
        <div id="content">
            <div id="display_users">
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Security Level</th>
                        <th>Email</th>
                        <th># of Orders</th>
                        <th># of Reviews</th>
                        <th>Date Joined</th>
                        <th>Actions</th>
                    </tr>
                    {% for user in all_users %}
                        <tr>
                            <td>{{ user.last_name }}, {{ user.first_name }}</td>
                            <td>{{ user.security_level }}</td>
                            <td>{{ user.email }}</td>
                            <td></td>
                            <td></td>
                            <td>{{ user.created_at }}</td>
                            <td id="actions">
                                <p><a href="/admin_access/edit_user_security/{{ user.id }}">Edit User Security</a></p>
                                <p><a href="/admin_access/delete_user/{{ user.id }}">Delete User</a></p>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>      <!--end display_users-->
            <div id="page_nav">
                {% if all_users.has_previous %}
                    <button>
                        <a href="/admin_access/edit_user/{{ all_users.previous_page_number }}">&laquo;</a>
                    </button>
                {% endif %}
                {% for i in num_of_pages %}
                    <button>
                        <a href="/admin_access/edit_user/{{ forloop.counter }}">{{ forloop.counter }}</a>
                    </button>
                {% endfor %}
                {% if all_users.has_next %}
                    <button>
                        <a href="/admin_access/edit_user/{{ all_users.next_page_number }}">&raquo;</a>
                    </button>
                {% endif %}
            </div>      <!--page_nav-->
        </div>      <!--end content-->
    </div>      <!--end wrapper-->
</body>

</html>