<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin Orders Display</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/admin_main.css' %}">
    <link rel="stylesheet" href="{% static 'css/quotes_display.css' %}">
</head>

<body>
    <div id="wrapper">
        <div id="header">
            <h1>Welcome, {{ logged_user.first_name }}</h1>
            <div id="links">
                <a href="/admin_access">Admin Home</a>  |  
                <a href="/">Back to Store</a>  |  
                <a href="/signon/logout">Logout</a>
            </div>      <!--end links-->
        </div>      <!--end header-->
        <div id="content">
            <h2>Orders</h2>
            <form action="/admin_access/find_order" method="POST">
                {% csrf_token %}
                <p>View a Order By Ref#: <input type="text" name="order_ref_num"></p>
                <button type="submit">Search</button>
            </form>
            <div id="quotes">
                {% for order in all_active_orders %}
                    <div class="quote_pod">
                        <div class="quote_info">
                            <h3>Ref #:<a href="/admin_acces/view_order/{{ order.id }}">{{ order.ref_number }}</a></h3>
                            <p>Date Placed: {{ order.created_at }}</p>
                            <p>List Price: {{order.total_price }}</p>
                            <p>Name: {{ order.orderd_by.last_name }}, {{ order.orderd_by.first_name }}</p>
                            <p>Last Updated: {{ order.updated_at }}</p>                            
                        </div>                    <!--end .order_info-->
                        <div class="quote_status">
                            <h3 class="status">{{ order.status }}</h3>
                        </div>      <!--end .quote_status-->                
                    </div>      <!--end .quote_pod-->
                {% endfor%}
            </div>      <!--end quotes-->
        </div>      <!--end content-->
    </div>      <!--end wrapper-->
</body>

</html>