<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edit Contact Information:Omni-Tech Sales Inc.</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/edit_contact.css' %}">
    <script type="text/javascript" src="{% static 'js/cart.js' %}" defer></script>
</head>

<body>
    <img id="banner" src="{% static 'img/site/OmnitechBannerT.png' %}">     <!--this works-->
    <div id="header">
        <h1>Welcome {% if logged_user %}{{ logged_user.first_name }}{% endif %}</h1>
        <div id="links">
            {% if logged_user.security_level > 4 %}
                <a class="link" href="/admin_access">Go to Admin</a>  |  
            {% endif %}
            {% if 'open_quote' in request.session %}
                <a href="/request_quote">View Your Quote</a>  |  
            {% endif %}
            {% if logged_user %}
                <a class="link" href="/signon/logout">Logout</a>
            {% else %}
                <a class="link" href="/signon">Log In/Register</a>
            {% endif %}                  
        </div>      <!--end links-->
    </div>      <!--end header-->
    <div id="content">
        <div id="l_sidebar">
            <div id="menu">
                <h3>Menu</h3>
                <a href="/">Home</a>
                <a href="/product_lines">Product Lines</a>
                <!-- <a href="/PRODUCTS">Products</a> -->
                <a href="/services/1">Services</a>
                <a href="/request_quote">Request a Quote</a>
                <a href="/industries">Industries</a>
                <!-- <a href="/ABOUTUS">About Us</a> -->
                <!-- <a href="/CONTACTUS">Contact Us</a> -->
                {% if logged_user %}
                    <a href="/user_account">My Account</a>
                {% endif %}
            </div>      <!--end menu-->
            <div id="contact_us">
                <h3>Contact Us</h3>
                <p>31189 Schoolcraft Road</p>
                <p>Livonia, MI 48150</p>
                <div id="break"></div>
                <p>Phone: 734-425-5730</p>
                <p>Fax: 734-261-6337</p>
                <p>Email:</p>
                <p>omnitech_sales@ameritech.net</p>
            </div>      <!--end contact_us-->
            <div id="badges">
                <img id="iso_badge" src="{% static 'img/site/iso17025_badge.png' %}">
                <img id="wbenc_badge" src="{% static 'img/site/wbenc_badge.png' %}">
            </div>      <!--end wbenc-->
        </div>      <!--end l_sidebar-->
        <div id="main">
            <div id="edit_contact" class="display_box">
                <h3>Edit Your Contact Information:</h3>
                <form action="/process_edit_contact" method="POST">
                    {% csrf_token %}
                    <p>Address 1: <input id="address_1_input" type="text" name="address_1" value="{{ contact_to_edit.address_1 }}"></p>
                    <p>Address 2: <input id="address_2_input" type="text" name="address_2" value="{{ contact_to_edit.address_2 }}"></p>
                    <p>City: <input id="city_input" type="text" name="city" value="{{ contact_to_edit.city }}"></p>
                    <p>Zip Code: <input id="zip_code_input" type="text" name="zip_code" value="{{ contact_to_edit.zip_code }}"></p>
                    <p>State: 
                        <select id="state_input" name="state">
                            <option value="{{ contact_to_edit.state }}">{{ contact_to_edit.state }}</option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </select>	
                    <p>Country: 
                        <select id="country_input" name="country">
                            <option value="{{ contact_to_edit.country }}">{{ contact_to_edit.country }}</option>
                            <option value="United States">United States</option>
                            <option value="Canada">Canada</option>
                            <option value="Mexicon">Mexico</option>
                            <option value="Germany">Germany</option>
                            <option value="Poland">Poland</option>
                        </select>
                    </p>
                    <p>Phone: <input id="phone_input" type="text" name="phone" value="{{ contact_to_edit.phone }}"></p>
                    <input type="hidden" name="contact_id" value="{{ contact_to_edit.id }}">
                    <input type="hidden" name="direct_to" value="{{ direct_to }}">
                    <button type="submit">Edit This Addresss</button>
                </form>
            </div>      <!--end add_new_contact-->
        </div>      <!--end main-->
    </div>      <!--end content-->
</body>

</html>