<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Product Lines: Omni-Tech Sales Inc.</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/product_lines.css' %}">
</head>

<body>
    <img id="banner" src="{% static 'img/site/OmnitechBannerT.png' %}">     <!--this works-->
    <div id="header">
        <h1>Welcome {% if logged_user %}{{ logged_user.first_name }}{% endif %}</h1>
        <div id="links">
            {% if logged_user.security_level > 4 %}
                <a class="link" href="/admin_access">Go to Admin</a>  |  
            {% endif %}
            {% if 'open_quote' in request.session %}
                <a href="/request_quote">View Your Quote</a>  |  
            {% endif %}
            {% if logged_user %}
                <a class="link" href="/signon/logout">Logout</a>
            {% else %}
                <a class="link" href="/signon">Log In/Register</a>
            {% endif %}                  
        </div>      <!--end links-->
    </div>      <!--end header-->
    <div id="content">
        <div id="l_sidebar">
            <div id="menu">
                <h3>Menu</h3>
                <a href="/">Home</a>
                <a id="active" href="/product_lines">Product Lines</a>
                <!-- <a href="/PRODUCTS">Products</a> -->
                <a href="/services/1">Services</a>
                <a href="/request_quote">Request a Quote</a>
                <a href="/industries">Industries</a>
                <!-- <a href="/ABOUTUS">About Us</a> -->
                <!-- <a href="/CONTACTUS">Contact Us</a> -->
                {% if logged_user %}
                    <a href="/user_account">My Account</a>
                {% endif %}
            </div>      <!--end menu-->
            <div id="contact_us">
                <h3>Contact Us</h3>
                <p>31189 Schoolcraft Road</p>
                <p>Livonia, MI 48150</p>
                <div id="break"></div>
                <p>Phone: 734-425-5730</p>
                <p>Fax: 734-261-6337</p>
                <p>Email:</p>
                <p>omnitech_sales@ameritech.net</p>
            </div>      <!--end contact_us-->
            <div id="badges">
                <img id="iso_badge" src="{% static 'img/site/iso17025_badge.png' %}">
                <img id="wbenc_badge" src="{% static 'img/site/wbenc_badge.png' %}">
            </div>      <!--end wbenc-->
        </div>      <!--end l_sidebar-->
        <div id="main">
            <div id="main_content">
                <div id="about_product_lines">
                    <p>
                        At Omni-Tech Sales, Inc we are proud to share with you top of the line
                        products from the highest caliber manufacturers. Once you have selected
                        what you need from either our lines below or any others that meet your 
                        needs feel free to contact us for a quote.
                    </p>
                    <button><a href="/request_quote">Request Quote</a></button>
                </div>      <!--end about_product_lines-->
                <div id="logo_display">
                    <a href="http://www.mitutoyo.com/" target="display">
                        <img src="{% static 'img/site/product_lines/_1mitutoyo-logo.jpg' %}">
                    </a>
                    <a href="http://www.fvfowler.com/" target="display">
                        <img src="{% static 'img/site/product_lines/_2fowler-logo.jpg' %}">
                    </a>
                    <a href="http://www.mahr.com/" target="display">
                        <img src="{% static 'img/site/product_lines/_3mahr-logo.jpg' %}">
                    </a>
                    <a href="http://www.vermontgage.com/" target="display">
                        <img src="{% static 'img/site/product_lines/_4vermont-gage-logo.jpg' %}">
                    </a>
                    
                    <!--broken link-->
                    <!-- <a href="http://www.ncgage.com/" target="display">
                        <img src="{% static 'img/site/product_lines/_5nctools-logo.gif' %}">
                    </a> -->
                    
                    <a href="https://deltronic.com/" target="display">
                        <img src="{% static 'img/site/product_lines/_6deltronic-logo.jpg' %}">
                    </a>
                    <a href="http://www.gsgage.com/" target="display">
                        <img src="{% static 'img/site/product_lines/_7glastonbury-logo.jpg' %}">
                    </a>
                    <a href="http://www.dorseymetrology.com/" target="display">
                        <img src="{% static 'img/site/product_lines/_8dorsey-logo.jpg' %}">
                    </a>
                    <a href="http://www.zeiss.com/" target="display">
                        <img src="{% static 'img/site/product_lines/_9zeiss-logo.gif' %}">
                    </a>
                    <a href="http://www.listacabinets.com/" target="display">
                        <img src="{% static 'img/site/product_lines/_10lista-logo.jpg' %}">
                    </a>
                    <a href="http://www.phase2plus.com/" target="display">
                        <img src="{% static 'img/site/product_lines/_11phase2-logo.jpg' %}">
                    </a>
                    <a href="http://www.aveninc.com/" target="display">
                        <img src="{% static 'img/site/product_lines/_12aven-logo.jpg' %}">
                    </a>
                    <a href="https://www.ultra-germany.com/katalog/2018/en/" target="display">
                        <img src="{% static 'img/site/product_lines/ultra-logo.png' %}">
                    </a>

                    <!--broken link-->
                    <!-- <a href="http://www.swissprec.com/" target="display">
                        <img src="{% static 'img/site/product_lines/_13spi-logo.gif' %}">
                    </a> -->

                    <a href="http://www.renishaw.com/en/1030.aspx" target="display">
                        <img src="{% static 'img/site/product_lines/_14renishaw-logo.jpg' %}">
                    </a>
                    <a href="http://www.flexbar.com/" target="display">
                        <img src="{% static 'img/site/product_lines/_15flexbar-logo.jpg' %}">
                    </a>
                    <a href="http://www.meyergage.com/" target="display">
                        <img src="{% static 'img/site/product_lines/_16meyer-gage-logo.jpg' %}">
                    </a>

                    <!--goes to deltronic-->
                    <!-- <a href="https://deltronic.com/class-x-pin-gages/" target="display">
                        <img src="{% static 'img/site/product_lines/_17alameda-logo.gif' %}">
                    </a> -->

                    <a href="http://www.hexagonmetrology.net/" target="display">
                        <img src="{% static 'img/site/product_lines/_18hexagon-logo.jpg' %}">
                    </a>

                    <!--labeled a risky site-->
                    <!-- <a href="http://www.cmmfixture.com/" target="display">
                        <img src="{% static 'img/site/product_lines/_19rnr-logo.gif' %}">
                    </a> -->

                    <a href="http://www.dyergage.com/" target="display">
                        <img src="{% static 'img/site/product_lines/_20dyergage-logo.jpg' %}">
                    </a>
                    <a href="http://www.mueller-gages.com/" target="display">
                        <img src="{% static 'img/site/product_lines/_21mueller-gages-logo.gif' %}">
                    </a>
                    <a href="http://www.diatest.com/" target="display">
                        <img src="{% static 'img/site/product_lines/_22diatest-logo.png' %}">
                    </a>
                </div>      <!--end logo_display-->
            </div>      <!--end main_content-->
        </div>      <!--end main-->
    </div>      <!--end content-->
</body>

</html>