<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>View Quote:Omni-Tech Sales Inc.</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main_display.css' %}">
    <link rel="stylesheet" href="{% static 'css/view_quote.css' %}">

</head>

<body>
    <img id="banner" src="{% static 'img/site/OmnitechBannerT.png' %}">     <!--this works-->
    <div id="header">
        <h1>Welcome {% if logged_user %}{{ logged_user.first_name }}{% endif %}</h1>
        <div id="links">
            {% if logged_user.security_level > 4 %}
                <a class="link" href="/admin_access">Go to Admin</a>  |  
            {% endif %}
            {% if 'open_quote' in request.session %}
                <a href="/request_quote">View Your Quote</a>  |  
            {% endif %}
            {% if logged_user %}
                <a class="link" href="/signon/logout">Logout</a>
            {% else %}
                <a class="link" href="/signon">Log In/Register</a>
            {% endif %}                  
        </div>      <!--end links-->
    </div>      <!--end header-->
    <div id="content">
        <div id="l_sidebar">
            <div id="menu">
                <h3>Menu</h3>
                <a href="/">Home</a>
                <a href="/product_lines">Product Lines</a>
                <!-- <a href="/PRODUCTS">Products</a> -->
                <a href="/services/1">Services</a>
                <a href="/request_quote">Request a Quote</a>
                <a href="/industries">Industries</a>
                <!-- <a href="/ABOUTUS">About Us</a> -->
                <!-- <a href="/CONTACTUS">Contact Us</a> -->
                {% if logged_user %}
                    <a href="/user_account">My Account</a>
                {% endif %}
            </div>      <!--end menu-->
            <div id="contact_us">
                <h3>Contact Us</h3>
                <p>31189 Schoolcraft Road</p>
                <p>Livonia, MI 48150</p>
                <div id="break"></div>
                <p>Phone: 734-425-5730</p>
                <p>Fax: 734-261-6337</p>
                <p>Email:</p>
                <p>omnitech_sales@ameritech.net</p>
            </div>      <!--end contact_us-->
            <div id="badges">
                <img id="iso_badge" src="{% static 'img/site/iso17025_badge.png' %}">
                <img id="wbenc_badge" src="{% static 'img/site/wbenc_badge.png' %}">
            </div>      <!--end wbenc-->
        </div>      <!--end l_sidebar-->
        <div id="main">
            <div class="display_box">
                <a id="go_back" href="/user_account">Go Back</a>
                <div id="quote_head">
                    <h3>Quote Reference Number: {{ quote.ref_number }} </h3>
                    <h3 id="total">Total: ${{ quote.total_price }}</h3>
                </div>      <!--end quote_head-->
                <div id="order_info">
                    <p>Date Placed: {{quote.placed_at.date }}</p>
                    <p>Placed By: {{ quote.quoted_by.last_name }}, {{ quote.quoted_by.first_name }}</p>
                    <p>Email: {{ quote.quoted_by.email }} || Phone: {{ quote.contact_info.phone }}</p>
                    <p>Address: {{ quote.contact_info.address_1 }}</p>
                    <p id="line2">{{ quote.contact_info.address_2 }}</p>
                    <p id="line3">{{ quote.contact_info.city }}, {{ quote.contact_info.state }}</p>
                    <p id="line4">{{ quote.contact_info.zip_code }}</p>
                    <p id="line5">{{ quote.contact_info.country }}</p>
                </div>      <!--end order_info-->
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Combined Price</th>
                        <!-- <th>#</th> -->
                    </tr>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.product_on_quote.name }}</td>
                        <td>${{ product.product_on_quote.price }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.combined_price }}</td>
                        <!-- <td>#</td> -->
                    </tr>
                    {% endfor %}        <!--#end for product in products-->
                    {% for item in items %}
                    <tr>
                        <td>{{ item.item_on_quote.name }}</td>
                        <td>${{ item.item_on_quote.price }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.combined_price }}</td>      <!-- <td>#</td> -->
                        <!-- <td>#</td> -->
                    </tr>
                    {% endfor %}        <!--#end for item in items#-->
                    {% for adminitem in adminitems %}
                    <tr>
                        <td>{{ adminitem.adminitem_on_quote.name }}</td>
                        <td>${{ adminitem.adminitem_on_quote.price }}</td>
                        <td>{{ adminitem.quantity }}</td>
                        {% if adminitem.is_discount%}
                            <td class="green">-${{ adminitem.combined_price }}</td>
                        {%else%}
                            <td>${{ adminitem.combined_price }}</td>
                        {% endif %}
                        <!-- <td>#</td> -->
                    </tr>
                    {% endfor %}        <!--#end for adminitem in adminitems#-->
                </table>
                <div id="special_instructions">
                    <h4>Special Instructions: </h4>
                    <p>{{ quote.special_instructions }}</p>
                </div>      <!--end special_instructions-->
                <!-- # status choices = {open, pending, in process, completed, archived } -->
            </div>      <!--end content-->
        </div>      <!--end main-->
    </div>      <!--end content-->
</body>

</html>